// Header
.md\:sticky {
  @media (min-width: 768px) {
    top: 2rem;
  }
}

// Bio section
.bio-images {
  img {
    &.img-1 {
      right: 0;
    }

    &.img-2 {
      bottom: 5rem;
    }

    &.img-3 {
      @media (min-width: 768px) {
        right: 5rem;
        bottom: 0;
      }
    }
  }
}
